//============================================//
// Variables de exto
//============================================//

//Fuentes
$font-familiy-headding: "Space Grotesk", sans-serif;
$font-familiy-body: "Space Grotesk", sans-serif;

//Tamaño de texto base
$font-size-base: 18px; //1rem
$font-size-base-l: 22px; //1rem

//Tamaños de texto
$font-size-headding-xxl: 6.11rem; //110px
$font-size-headding-xl: 4.88rem; //88px
$font-size-headding-l: 2.66rem; //48px
$font-size-headding-m: 1.33rem; //24px
$font-size-headding-s: 1rem; //18px
$font-size-body-xl: 1.55rem; //28px
$font-size-body-l: 1rem; //18px
$font-size-body-m: 0.83rem; //15px
$font-size-body-s: 0.66rem; //12px

//Grosores de texto
$font-weight-headding: 700;
$font-weight-body: 500;
$font-weight-active: 700;

//Interlineado
$line-height-headding-xxl: 6.11rem; //110px
$line-height-headding-xl: 4.88rem; //88px
$line-height-headding-l: 2.66rem; //48px
$line-height-headding-m: 1.33rem; //24px
$line-height-headding-s: 1rem; //18px
$line-height-body-xl: 2rem; //36px
$line-height-body-l: 1.55rem; //28px
$line-height-body-m: 1rem; //18px
$line-height-body-s: 0.66rem; //12px

//Spacing de texto
$letter-spacing-headding-xxl: -4px;
$letter-spacing-headding-xl: -2.5px;
$letter-spacing-headding-l: -1.5px;
$letter-spacing-headding-m: -1px;
$letter-spacing-headding-s: -0.5px;
$letter-spacing-body-xl: 1px;
$letter-spacing-body-l: 1px;
$letter-spacing-body-m: 0;
$letter-spacing-body-s: 0;
