@use "../abstracts/breakpoints" as b;
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;

footer {
  & .footer-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    @include m.flex($direction: column, $align: center);
    gap: 2rem;
    width: max-content;

    @include b.respond(b.$tab-desk) {
      width: 100%;
      @include m.flex($justify: space-between);
    }

    & > img {
      width: max-content;
    }

    & > ul {
      width: 100%;
      @include m.flex($justify: space-between);

      @include b.respond(b.$tab-desk) {
        width: min-content;
        gap: 1.5rem;
      }

      & > li {
        list-style: none;
      }
    }
  }
}
