@use "../abstracts/breakpoints" as b;
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;

.home-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

header {
  & > .header-container {
    padding-top: 1.5rem;
    margin: 0 auto;
    @include m.flex($direction: column, $align: center);
    gap: 2rem;
    width: max-content;

    @include b.respond(b.$tab-desk) {
      padding-top: 2rem;
      width: 100%;
      @include m.flex($justify: space-between);
    }

    & > img {
      width: max-content;
    }

    & > ul {
      width: 100%;
      @include m.flex($justify: space-between);

      @include b.respond(b.$tab-desk) {
        width: min-content;
        gap: 1.5rem;
      }

      & > li {
        list-style: none;
      }
    }
  }
}
