@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

//Botones
.button {
  display: inline-block;
  color: c.$color-headding-primary;
  font-family: t.$font-familiy-headding;
  font-size: t.$font-size-headding-s;
  font-weight: t.$font-weight-headding;
  letter-spacing: 2px;
  text-decoration: none;

  border-bottom: 5px solid c.$color-brand-primary;
  padding-bottom: 0.5rem;

  &:hover {
    @include m.transition($time: 300ms);
    color: c.$color-brand-primary;
  }
}
