@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

html {
  //Tamaño base de tipografías (1rem)
  font-size: t.$font-size-base;
  @include b.respond(b.$desktop) {
    font-size: t.$font-size-base-l; //1rem
  }

  scroll-behavior: smooth;
}

body {
  //Elementos centrados
  @include m.flex($direction: column, $align: center);

  //Fondo
  background: c.$color-bg-main;

  //Texto base
  font-family: t.$font-familiy-body;
  font-weight: t.$font-weight-body;
  font-size: t.$font-size-body-l;
  line-height: t.$line-height-body-l;
  letter-spacing: t.$letter-spacing-body-l;
  color: c.$color-text-primary;

  //Normalizando ancho y márgenes de elementos
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: t.$font-weight-headding;
  font-family: t.$font-familiy-headding;
  color: c.$color-headding-primary;
}

h1 {
  font-size: t.$font-size-headding-xl;
  line-height: t.$line-height-headding-xl;
  letter-spacing: t.$letter-spacing-headding-xl;
}
h2 {
  font-size: t.$font-size-headding-xl;
  line-height: t.$line-height-headding-xl;
  letter-spacing: t.$letter-spacing-headding-xl;
}
h3 {
  font-size: t.$font-size-headding-m;
  line-height: t.$line-height-headding-m;
  letter-spacing: t.$letter-spacing-headding-m;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.highlight-text {
  border-bottom: 5px solid c.$color-brand-primary;
  padding-bottom: 2px;
  display: inline-block;
}

button,
input {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
}

.bg-primary {
  background-color: c.$color-bg-primary;
}
