@use "../abstracts/breakpoints" as b;
@use "../abstracts/colors" as c;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;

// Variables locales
$elipse-width: 500px;
$elipse-heigth: 122px;
$circle-width: 120px;
$circle-heigth: 120px;
$project-photo-height: 400px;

main.home {
  & .hero {
    width: 100%;
    padding-bottom: 5rem;

    &-images {
      position: relative;
      width: 100%;
      @include m.flex($justify: center);

      & > .photo-container {
        background: c.$gradient-main;
        height: 500px;
        width: 200px;

        @include m.flex($align: flex-end);

        & img {
          object-fit: contain;
        }
      }
    }

    &-text {
      margin-top: 4rem;
      @include m.flex($direction: column, $align: center);
      gap: 2rem;

      &-title {
        & > h1,
        h2 {
          font-size: t.$font-size-heading-l;
          line-height: t.$line-height-heading-l;
          text-align: center;
        }
      }

      & > p {
        text-align: center;
      }
    }
  }

  & .skills {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;

    & .card {
      padding: 1rem;
      text-align: center;
      &-title {
        font-size: t.$font-size-heading-l;
        font-weight: t.$font-weight-heading;
      }
      &-description {
        margin-top: 1rem;
      }
    }

    margin-bottom: 2rem;
  }

  & .projects {
    padding-top: 3rem;
    padding-bottom: 5rem;
    &-title {
      @include m.flex($justify: space-between, $align: center);
      & > h2 {
        padding: 0;
        font-size: t.$font-size-heading-l;
      }
    }

    &-grid {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      gap: 3rem;

      @include b.respond(b.$desktop) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      & .project {
        position: relative;
        &-thumbnail {
          overflow: hidden;

          @include b.respond(b.$desktop) {
            cursor: pointer;
          }

          & img {
            max-height: $project-photo-height;
            width: 100%;
          }
        }
        &-title {
          margin-top: 2rem;
          font-size: t.$font-size-heading-m;
        }
        &-skills {
          margin-top: 1rem;
          list-style: none;
          @include m.flex();
          gap: 1.5rem;
          font-size: t.$font-size-body-l;
        }
        &-buttons {
          margin-top: 1rem;
          width: 100%;

          @include m.flex();
          gap: 1.5rem;

          @include b.respond(b.$desktop) {
            flex-direction: column;
            align-items: center;
            gap: 30px;

            position: absolute;
            inset: 0;

            background: rgba(0, 0, 0, 0.25);
            //opacity: 0;
          }
        }
      }
    }
  }

  & .contact {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 5rem;

    &-text {
      text-align: center;
      & > h2 {
        font-size: t.$font-size-heading-l;
      }
    }

    & form {
      @include m.flex($direction: column);
      margin-top: 2rem;

      & .contact-info {
        position: relative;
      }

      & input {
        cursor: text;
      }

      & textarea {
        border: 0;
        width: 100%;
        resize: none;
        border-radius: 0;
        background-color: transparent;
      }

      & input,
      textarea {
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px c.$color-white solid;
        color: c.$color-text-secondary;
        display: block;
        &::placeholder {
          font-weight: t.$font-weight-body;
        }
      }

      & > button {
        margin-top: 2rem;
        margin-left: auto;
        align-self: flex-end;
      }
    }
  }
}

//Elementos flotantes
.float {
  position: absolute;
  height: auto;
}

// Selectores por id
#hero-elipse {
  left: 0;
  transform: translateX(calc($elipse-width * -0.5));
  top: 200px;
  width: $elipse-width;
  z-index: -1;
}

#hero-circle {
  right: 0;
  transform: translateX(calc($circle-width * -0.5));
  top: 380px;
  width: $circle-width;
  z-index: -1;
}

#divisor-projects {
  position: relative;
}

#projects-elipse {
  right: 0;
  transform: translateX(calc($elipse-width * 0.5));
  top: calc($elipse-heigth * -0.5);
  width: $elipse-width;
  z-index: -1;
}

#contact-elipse {
  right: 0;
  transform: translateX(calc($elipse-width * -0.5));
  bottom: calc($elipse-heigth * -0.5);
  width: $elipse-width;
}
